{% extends 'layout.html' %}
{% block body %}
<h2> Enter details </h2>
<br>
<div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.s_name.label }} {{ form.s_name }}
                <br>
                {{ form.s_h.label }} {{ form.s_h }}
                <br>
                {{ form.s_a.label }} {{ form.s_a }}
                <br>
                {{ form.s_e.label }} {{ form.s_e }}
                <br>
                {{ form.submit }}
            {{ message }}
	    </form>
</div>
{% endblock body %}